@{
    ViewData["Title"] = "Artist Search";
}

<div class="row">
    <div class="offset-md-4 col-md-4 text-center push-down">
        @using (Html.BeginForm("Search", "Artist", null, FormMethod.Post, true, new {@class = "form"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.TextBox("query", "", null, new {@class = "form-control", placeholder = "Enter the name of an artist"})
            </div>
            <button class="btn btn-light" type="submit">Search</button>
        }
    </div>
</div>